.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_container {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.3s all;
}

.modal_container.active {
   transform: scale(1);
}